{% extends "_layout.html" %}
{% block page_header %}<span class="label label-danger">INTERNAL SERVER ERROR</span>{% endblock %}

{% block content %}
    <div class="bs-component">
        <div class="jumbotron">
            <h1 class="display-3">ERROR 500</h1>
                <p class="lead">We are so sorry..., but you may have just broken our app.  </p>
                <hr class="my-4">
                <p>But don't worry because our minions are on it and have already been notified by email about this error.  So, go on about your business.  Please use the button below to navigate away from this nasty little error page.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="{{ url_for('index') }}" role="button">
                        <i class="fa fa-home"></i> Take Me Home, James!
                    </a>
                </p>
        </div>
    </div>
{% endblock %}
