{% extends "_layout.html" %}
{% block title %}{{ store_name }} Campaign List &raquo; All Campaigns{% endblock %}

{% block section_name %}<i class="fa fa-th-list"></i> Your Tactics{% endblock %}

{% block content %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Actions</th>
                <th scope="col">Tactic</th>
                <th scope="col">Campaign Job Number</th>
                <th scope="col">Campaign Dates</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for campaign in campaigns %}
                <tr>
                    <td><a href="{{ url_for('campaign_detail', campaign_pk_id=campaign.id) }}"
                           class="btn-icon-only"
                           title="View Details"><i class="fa fa-plus-circle fa-2x"></i></a></td>
                    <td>{{ campaign.campaign_type }}</td>
                    <td>{{ campaign.name }}</td>
                    <td>{{ campaign.start_date|datemdy }} to {{ campaign.end_date|datemdy }}</td>
                    <td>{% if campaign.status == 'ACTIVE' %}
                            <span class="badge badge-primary">{{ campaign.status }}</span>
                        {% else %}}
                            <span class="badge badge-danger">{{ campaign.status }}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}