{% extends "_layout.html" %}

    {% block error_messages %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-dismissible alert-{{ category }}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <i class="fa fa-warning"></i> {{ message }}
                    </div>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    {% endblock %}

    {% block page_header %}
        <div class="page-header mb-10" id="banner">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-6">
                    <h3>Welcome, {{ current_user.first_name }} {{ current_user.last_name }}</h3>
                    <span class="pull-right text-default text-small">{{ today }}</span>
                    <p class="lead">{{ store_name }}</p>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block section_name %}<i class="fa fa-dashboard"></i> Your Dashboard{% endblock %}

    {% block content %}
        <!-- begin: row1 -->

        <div class="row">
            <div class="col-lg-3">
                <div class="card text-dark bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-header">Campaigns</div>
                    <div class="card-body">
                        <h4 class="card-title">Active Campaigns</h4>
                        <p class="card-text"><h1>{{ dashboard.active_campaigns }}</h1></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card text-dark bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-header">Visitors</div>
                    <div class="card-body">
                        <h4 class="card-title">Total<br/>Visitors</h4>
                        <p class="card-text"><h1>{{ dashboard.total_unique_visitors }}</h1></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card text-dark bg-default mb-3" style="max-width: 20rem;">
                    <div class="card-header">Appends</div>
                    <div class="card-body">
                        <h4 class="card-title">Total Data Appended</h4>
                        <p class="card-text"><h1>{{ dashboard.total_appends }}</h1></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card text-dark bg-default mb-3" style="max-width: 20rem;">
                    <div class="card-header">Append Percentage</div>
                    <div class="card-body">
                        <h4 class="card-title">U.S. Append Rate</h4>
                        <p class="card-text"><h1>{{ dashboard.us_append_rate }} %</h1></p>
                    </div>
                </div>
            </div>

        </div>

        <!-- begin: row2 -->
        <div class="row">
            <div class="col-lg-3">
                <div class="card text-dark bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-header">Realtime Notifications</div>
                    <div class="card-body">
                        <h4 class="card-title">Total RTNs Sent</h4>
                        <p class="card-text"><h1>{{ dashboard.total_sent_to_dealer }}</h1></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card text-dark bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-header">Emails Sent</div>
                    <div class="card-body">
                        <h4 class="card-title">Total Emails Sent</h4>
                        <p class="card-text"><h1>{{ dashboard.total_sent_followup_emails }}</h1></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card text-dark bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-header">Ringless Voicemail</div>
                    <div class="card-body">
                        <h4 class="card-title">Total RVMs Sent</h4>
                        <p class="card-text"><h1>{{ dashboard.total_rvms_sent }}</h1></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">Export Your Data</div>
                    <div class="card-body">
                        <h4 class="card-title">Data Export</h4>
                        <p class="card-text">Coming soon.  Export your digital premier data in CSV format for importing to your CRM app.</p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}