{% extends "_layout.html" %}

    {% block page_header %}
        <div class="page-header mb-10" id="banner">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <h1>Welcome, Craig James</h1>
                    <p class="lead">North Miami Beach Maserati</p>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block section_name %}<i class="fa fa-dashboard"></i> Your Dashboard{% endblock %}

    {% block content %}
        <!-- begin: row1 -->
        <div class="row">
            <div class="col-lg-3">
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Campaigns</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">Settings</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">Visitors</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-header">Leads</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- begin: row2 -->
        <div class="row">
            <div class="col-lg-3">
                <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
                    <div class="card-header">Conversions</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                    <div class="card-header">Impact</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Charts</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card border-secondary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Data & Reports</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}